.header {
  width: auto;
  height: 100%;
  background-color: rgb(51, 95, 7);
  font-size: 30px;
  color: snow;
  padding: 10px;
}

.currently-reading-container, .want-to-read-container {
  width: 90%;
  border-bottom: 1px solid black;
  margin-left: 5%;
}

.completed-read-container {
  width: 90%;
  margin-left: 5%;
}