.read-status-container {
  max-width: 215px;
  box-shadow: 4px 3px 3px #818F99;
  border-radius: 5px;
  background-color: beige;
}

.status-container ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}
.status-container ul li {
  padding: 5px;
}

.move-to {
  color: rgb(103, 113, 133);
}
.default-status-item {
  cursor: default;
  background-color: transparent !important;
  margin-bottom: 8px;
}
.default-status-item:hover {
  cursor: default;
  background-color: aqua !important;
}

.is-active-status-item {
  background-color: aqua !important;
}