.App {
  text-align: center;
  position: relative;
}

.App-header {
  width: auto;
  height: 100%;
  background-color: rgb(51, 95, 7);
  font-size: 30px;
  color: snow;
  padding: 10px;
}

@media (max-width: 1600px) {
  .App {
    max-width: 1516px;
  }
}


